h1 {
    color:rgb(238, 68, 16);
}
p {
    color: #000000;
}
li {
    color: #000000;
}
body {
    background:#F3EFEC;
  }
  
 .menu{
   display: flex;
   justify-content: space-between;
   background-color: #000000;
   padding: 15px;
   font-size: 15px;
   font-family: sans-serif;
   font-weight: 400;
   color: #ffffff;
 } 

 .grid img{
   border: 2px solid #000000;
  border-radius: 50px;
 }

 .grid{
   display: flex;
   flex-wrap: wrap;
 }

 .Origami{
   border-radius: 20px;
   background-color: #ffffff;
   width: 310px;
   padding: 30px;
   margin: 25px;
   font-family: fantasy;
   
 }

 .Origami:hover{
   transform: scale(1, 2);
 }

 a:link{
   color: white;
 }

a:visited{
 color: white;
}

.bodyimg{
text-align: center;

}
  section {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .spinner {
    animation: rotate 1.4s linear infinite;
    -webkit-animation: rotate 1.4s linear infinite;
    -moz-animation: rotate 1.4s linear infinite;
    width:174px;
    height:174px;
    position: relative;
  }
  
  .spinner-dot {
    width:274px;
    height:274px;
    position: relative;
    top: 0;
  }
  
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .path {
    stroke-dasharray: 170;
    stroke-dashoffset: 20;
  }
  
  
.spike {
  --fx: calc(var(--i)/var(--n));
  position: absolute;
  top: calc(50% - 0.125em);
  left: 50%;
  width: 4em;
  height: 0.25em;
  transform-origin: 0 50%;
  transform: rotate(calc(var(--i)*1turn/var(--n))) translate(calc(0.25em/var(--f))) scalex(var(--fx));
  background: currentcolor;
  color: HSL(calc(var(--i)*3*360/var(--n)), 100%, 75%);
  animation: a 9s ease-in-out calc(var(--i)/var(--n)*-18s) infinite;
}
.spike:before, .spike:after {
  --k: 0;
  --s: calc(2*var(--k) - 1);
  position: absolute;
  top: calc(50% - 0.125em);
  left: calc(var(--k)*100% - 0.125em);
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  transform: scalex(calc(1/var(--fx)));
  background: inherit;
  content: "";
}
.spike:after {
  --k: 1;
}
.spike:nth-child(2n):before, .spike:nth-child(2n):after {
  box-shadow: calc(var(--s)*0.5em) 0 0 -1px currentcolor;
}

@keyframes a {
  0% {
    --fx: 0.55;
  }
  2.77778% {
    --fx: 0.66079;
  }
  5.55556% {
    --fx: 0.86715;
  }
  8.33333% {
    --fx: 0.35514;
  }
  11.11111% {
    --fx: 0.80854;
  }
  13.88889% {
    --fx: 0.62231;
  }
  16.66667% {
    --fx: 0.55;
  }
  19.44444% {
    --fx: 0.58848;
  }
  22.22222% {
    --fx: 0.60861;
  }
  25% {
    --fx: 0.55;
  }
  27.77778% {
    --fx: 0.49139;
  }
  30.55556% {
    --fx: 0.51152;
  }
  33.33333% {
    --fx: 0.55;
  }
  36.11111% {
    --fx: 0.47769;
  }
  38.88889% {
    --fx: 0.29146;
  }
  41.66667% {
    --fx: 0.74486;
  }
  44.44444% {
    --fx: 0.23285;
  }
  47.22222% {
    --fx: 0.43921;
  }
  50% {
    --fx: 0.55;
  }
  52.77778% {
    --fx: 0.43921;
  }
  55.55556% {
    --fx: 0.23285;
  }
  58.33333% {
    --fx: 0.74486;
  }
  61.11111% {
    --fx: 0.29146;
  }
  63.88889% {
    --fx: 0.47769;
  }
  66.66667% {
    --fx: 0.55;
  }
  69.44444% {
    --fx: 0.51152;
  }
  72.22222% {
    --fx: 0.49139;
  }
  75% {
    --fx: 0.55;
  }
  77.77778% {
    --fx: 0.60861;
  }
  80.55556% {
    --fx: 0.58848;
  }
  83.33333% {
    --fx: 0.55;
  }
  86.11111% {
    --fx: 0.62231;
  }
  88.88889% {
    --fx: 0.80854;
  }
  91.66667% {
    --fx: 0.35514;
  }
  94.44444% {
    --fx: 0.86715;
  }
  97.22222% {
    --fx: 0.66079;
  }
  100% {
    --fx: 0.55;
  }
}
